@model Common.Model.BookWithClassifications
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label>Klassifikation</label>
        @Html.DropDownListFor(m => m.Book.SignId, new SelectList(Model.Classifications, "SignId", "Signum"), new { @class = "form-control", data_parsley_required = "Required" })
    </div>
    <div class="form-group">
        <label>ISBN</label>
        @Html.EditorFor(m => m.Book.ISBN, new { htmlattributes = new { @class = "form-control", @type = "number" }})
        @Html.ValidationMessageFor(model => model.Book.ISBN, "", new { @class = "text-danger" })
    </div>
    
    <div class="form-group">
        <label>Titel</label>
        @Html.EditorFor(m => m.Book.Title, new { htmlattributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Book.Title, "", new { @class = "text-danger" })
    </div>
    
    <div class="form-group">
        <label>Publikationsår</label>
        @Html.EditorFor(m => m.Book.PublicationYear, new { htmlattributes = new { @class = "form-control", @type="number" } })
        @Html.ValidationMessageFor(model => model.Book.PublicationYear, "", new { @class = "text-danger" })
    </div>
    
    <div class="form-group">
        <label>Publikationsinformation</label>
        @Html.TextAreaFor(m => m.Book.publicationinfo, new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        <label>Antal sidor</label>
        @Html.EditorFor(m => m.Book.pages, new { htmlattributes = new { @class = "form-control", @type = "number" } })
        @Html.ValidationMessageFor(model => model.Book.pages, "", new { @class = "text-danger" })
    </div>
    <hr/>
    <div class="form-group">
        <label>Antal kopior</label>
        <input type="number" class="form-control" value="1" name="copies" />
    </div>
    <div class="form-group">
        <label>Bibliotek</label>
        <select name="library" class="form-control">
            <option value="Stadsbiblioteket">Stadsbiblioteket</option>
            <option value="Huskvarna">Huskvarna</option>
            <option value="Taberg">Taberg</option>
        </select>
    </div>
    
    if (TempData["Alert"] != null)
    {
        @Html.Raw(TempData["Alert"])
    }
    
    <div class="form-group">
        <input type="submit" value="Spara" class="btn btn-success btn-lg" />
    </div>
}