@model Common.Model.BookWithAuthors

@{
    ViewBag.Title = "GetBook";
}

<h2>Titel: @Model.Book.Title</h2>


<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead class="alert-info">
                <tr>
                    <th>ISBN</th>
                    <th>Publikationsår</th>
                    <th>PublikationsInformation</th>
                    <th>Antal sidor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Book.ISBN</td>
                    <td>@Model.Book.PublicationYear</td>
                    <td>@Model.Book.publicationinfo</td>
                    <td>@Model.Book.pages</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-hover">
            <thead class="alert-info">
                <tr>
                    <th>Författare</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var author in Model.Authors)
                {
                    <tr>
                        <td><a href="/Author/GetAuthor/?aid=@author.Aid">@author.FirstName @author.LastName</a></td>
                    </tr>
                }
                
            </tbody>
        </table>
        <a href="javascript:void(0);" onclick="history.go(-1);"><input class="btn btn-default" value="Tillbaka" type="submit" /></a>
        @*<form class="nav" method="get" action="/Public/Start">
            <div class="form-inline">
                <input class="btn btn-default" value="Tillbaka" type="submit" />
            </div>
        </form>*@
    </div>
</div>

